%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %form{role: "form"}
    .form-group
      %label{for: "exampleInputEmail1"} Email:
      %br/
      = f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Enter email", id: "exampleInputEmail1"
    .form-group
      %label{for: "exampleInputPassword1"} Password:
      %br/
      = f.password_field :password, :autocomplete => "off", class: "form-control", placeholder: "Password", id: "exampleInputPassword1"
    .form-group
      %label{for: "exampleInputPassword1"} Password_Confirmation:
      %br/
      = f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", id: "exampleInputPassword1"
    .form-group
      %label{for: "exampleInputPassword1"} Current_Password:
      %i (we need your current password to confirm your changes)
      %br/
      %br/
      = f.password_field :current_password, class: "form-control", placeholder: "Current_Password", id: "exampleInputPassword1"
    .form-group
      %label{for: "exampleInputImage1"} Profile_Image:
      %br/
      = f.file_field :image, class: "form-control", placeholder: "Profile_Image", id: "exampleInputImage1"
    .form-group
      %label{for: "exampleInputGender1"} Gender:
      %br/
      = f.text_field :gender, class: "form-control", placeholder: "Gender", id: "exampleInputGender1"
    .form-group
      %label{for: "exampleInputcity1"} City:
      %br/
      = f.text_field :city, class: "form-control", placeholder: "City", id: "exampleInputcity1"
    .form-group
      %label{for: "exampleYear_of_Birth1"} Date_of_Birth:
      %br/
      = f.text_field :year_of_birth, 'data-behaviour' => 'datepicker', class: "form-control", placeholder: "Enter Date_of_Birth", id: "exampleYear_of_Birth"
      :javascript
        $(document).ready(function(){
        $('[data-behaviour~=datepicker]').datepicker();
        })
    .form-group
      %label{for: "exampleInputProfession1"} Profession:
      %br/
      = f.text_field :profession, class: "form-control", placeholder: "Profession", id: "exampleInputProfession1"
    .form-group
      %label{for: "exampleInputPhone_no1"} Phone_no:
      %br/
      = f.text_field :phone_no, class: "form-control", placeholder: "Phone_no", id: "exampleInputPhone_no1"
    %br/
    = f.submit "Update", class: "btn btn-large btn-primary"
%br/
%h3 Cancel my account
%br/
= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure? This will remove the post and it is non-reversible!!. " }, :method => :delete, class: "btn btn-large btn-primary"
%br/
= link_to "Back", :back