- provide(:title, @user.name)
.row
  %aside.span6
    %section
      %h1
        = image_tag @user.image_url(:thumb).to_s
        %br/
        Name:
        \#{@user.name}
        %br/
        Mobile No: #{@user.phone_no}
    %section
      = render 'shared/stats'
      %br/
      = render 'follow_form' if user_signed_in?
  .span6
    .stats
      - if @user.requests.any?
        %br/
        %b Posted Trip:
        = @user.requests.count
      %b
        %br>/
        Personal Information
      %br/
      %br/
      %br/
      %b Email:
      = @user.email
      %br/
      %br/
      %b City:
      = @user.city
      %br/
      %br/
      %b Gender:
      = @user.gender
      %br/
      %br/
      %b Profession:
      = @user.profession
      %br/
      %br/
      %br/
%div{align: "center"}
  = image_tag "http://maps.google.com/maps/api/staticmap?size=800x650&sensor=true&zoom=16&markers=#{@user.current_sign_in_ip}"
  #container
    #instructions
      %label{for: "gmaps-input-address"}
      %br/
      %label{for: "gmaps-input-address"} 
      %br/
      #gmaps-canvas