= submit_tag "Hide Map. . . ", class: "hello"
= submit_tag "Show Map. . . ", class: "hello2"
= form_for(@request) do |f|
  = render 'shared/error_messages', object: f.object
  .hell
    #container
      #instructions
        %b
          %label{for: "gmaps-input-address"} Destination:
        %br/
        = f.text_field :destination, placeholder: "Start typing a destination place  ...", type: "text", id: "gmaps-input-address"
        %b
          %label{for: "gmaps-input-address"} Source:
        %br/
        = f.text_field :source, placeholder: "Start typing a source place...", type: "text", id: "gmaps-input-address"
        #gmaps-error
        #gmaps-canvas
        %br/
        %b
          %label{for: ""} Date of Trip:
        %br/
        = f.text_field :date, 'data-behaviour' => 'datepicker', placeholder: "Enter Date"
        %b
          %label{for: ""} Time of Trip:
        %br/
        = f.text_field :time, placeholder: "Time"
        %b
          %label{for: ""} Comment:
        %br/
        = f.text_area :content, placeholder: "Comment", align: "center"
        %br/
        = f.submit "Post", class: "btn btn-large btn-primary"