- if user_signed_in?
  .body
    .row
      %aside.span5
        %section= render 'shared/user_info'
        %section= render 'shared/stats'
        %section= render 'shared/request_form'
      .span7
        %h3 Posted Trip
        = render 'shared/feed'
- elsif admin_signed_in?
  = render 'users/foradmin'
  = will_paginate @users
- else
  .center.hero-unit
    %h1 Welcome to the Sample
    = link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary"
    %br
      %br
        %div{align: "center"}
          #mainBanner.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              .item.active
                %img.slidImageSize{src: "https://files.one.ubuntu.com/8sBvVp4ZQ0-4jrQ_PlTe4w:6rXdmDm5Q8OZlrHWA0k47A"}
              .item 
                %img.slidImageSize{src: "https://files.one.ubuntu.com/8sBvVp4ZQ0-4jrQ_PlTe4w:SbWYRzWWSDSVziVKHfbQNw"}
              .item
                %img.slidImageSize{src: "https://files.one.ubuntu.com/8sBvVp4ZQ0-4jrQ_PlTe4w:odJSA_buRQK3uzGLc5pdIA"}
              .item
                %img.slidImageSize{src: "https://files.one.ubuntu.com/8sBvVp4ZQ0-4jrQ_PlTe4w:n8LoQxTsSKqY6JFaFRYaIA"}
            %a.carousel-control.left{"data-slide" => "prev", href: "#mainBanner"}
              %span.glyphicon.glyphicon-chevron-left
            %a.carousel-control.right{"data-slide" => "next", href: "#mainBanner"}
              %span.glyphicon.glyphicon-chevron-right