!!!
%html
  %head
    %title
    = stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'actcarpool_img.jpg'
    %meta{content: "51dc3cf09e12ff48-4071741a655b399e-g19c6b08ee671a048-1a", name: "google-translate-customization"}/
  %body
    = render 'layouts/header'
    .container
      - flash.each do |key, value|
        = content_tag(:div, value, class: "alert alert-#{key}")
      = yield
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      = debug(params) if Rails.env.development?
      = render 'layouts/footer'